
    .sub-title{
        color: #696868;
        font-size: 21px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    
    .sub-title-sm{
        color: #696868;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .btn-default {
        color: #696868;
    }
    
    .btn-default:hover, .btn-default:active {
        color: #f05f40;
        background-color: #e6e6e6;
        border-color: #f05f40;
    }
    
    label{
        color: #696868;
    }
    
    td > span.green{
        color: green;
        /*font-weight: bold;*/
    }
    
    td > span.red{
        color: red;
        /*font-weight: bold;*/
    }
    
    .grey{
        color: #696868;
    }
    
    .table > thead > tr > th {
        text-align: center;
        vertical-align: middle;
    }
    
    .table > tbody > tr > td {
        text-align: center;
    }
    
    a{
       color: #696868;
    }
 
    
    a:focus, a:hover{
        color: #f05f40;
        text-decoration: none;
    }
    
    .glyphicon{
        color: #696868;
        font-size: 16px;
    }
     
    .glyphicon:focus, .glyphicon:hover, .glyphicon:active {
        color: #f05f40;
    }
    
    .lateral-nav{
        border-right: 1px solid #e5e5e5;
        /*height: 500px;*/
    }
 
    .pagination>li>a, .pagination>li>span{
        color: #696868 ;
    }
    
    .pagination>.active>a,
    .pagination>.active>a:focus,
    .pagination>.active>a:hover, 
    .pagination>.active>span,
    .pagination>.active>span:focus,
    .pagination>.active>span:hover{
        color: white;
        background-color: #f05f40 !important;
        border-color: #f05f40 !important;
    }
    
    .pagination>li>a:focus,
    .pagination>li>a:hover,
    .pagination>li>span:focus,
    .pagination>li>span:hover{
        color: #696868 ;
        border-color: #f05f40 !important;
    }
    
    thead > tr > th{
       color: #696868 ;
    }
    
    thead > tr > th:hover, thead > tr > th:active{
        color: #f05f40 ;
        /*/border-color: #f05f40 !important;*/
    }
    
    .btn-primary{
        color: white;
        background-color: #696868;
        border-color: #696868;
    }
    
     .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
        color: white;  
        background-color: #f05f40 !important;
        border-color: #f05f40 !important;
    }

   .btn-action{
        margin: 0 2px 0 2px;
        color: #696868;
    }
    
    
    .form-control{
            padding: 3px 3px !important;
            height: 25px !important;
                /*background-color: #e0e0e0 !important;*/
    }
    
    .ui-checkboxradio-label{
        width: 100%;
    }
    
    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active,
    a.ui-button:active,
    .ui-button:active,
    .ui-button.ui-state-active:hover{
        border: 1px solid #f05f40;
        background: #f05f40;
        font-weight: normal;
        color: #fff;
        
    }
    
     .ui-autocomplete{
		max-height: 400px;
		overflow-y : auto;
		overflow-x : hidden;
	}
    
    .glyphicon-ok-sign{
        color: green;
    }
    
    
    .glyphicon-remove-sign{
        color: red;
    }
    
    
    a.ip-link{
        color: #696868;
    }
    
    a.ip-link:focus, a.ip-link:hover{
        color: #f05f40;
        text-decoration: none;
    }
    
    .locked{
        background-color: #e15555;
        color: white !important;
    }
    
    .locked td a{
        background-color: #e15555;
        color: white !important;
    }
    
    .locked td a.grey{
        background-color: white;
        color: #696868 !important;
    }
    
    
    
      .panel-primary > .panel-heading{
        background-color: #f05f40;
        border-bottom-color: #f05f40;
    }
    
     
    .panel-primary{
        border-color:  #f05f40;
    }

     .filter-apply{
        background-color: #f05f40;
    }
    
    .filter-apply > span.glyphicon{
       color: white;
    }
    
    button.filter-apply > span.glyphicon:hover{
       color: #f05f40;
    }
    
    button.filter-apply:focus{
       background-color: #f05f40;
    }
    
    
        
    .header-title{
        text-align: center;
        color: #696868; /*fff*/
        font-size: 19px;
        /*height: 30px;*/
        background-color: #bfbfbf;  /*f05f40*/
        margin: 0 0 10px 0;
        border-radius: 0 0 5px 5px;
        font-weight: bold;
    }
    
    
    .info-License{
        font-size: 12px;
        background-color: white;
        color: #f05f40;
        padding: 0 5px;
        margin-left: 20px;
    }
    
    .info-License-due{
        font-size: 12px;
        background-color: white;
        color: red;
        padding: 0 5px;
        margin-left: 20px;
    }

    .margin-bottom-5{
        margin-bottom: 5px;
    }
    
    .margin-top-5{
         margin-top: 5px;
    }
    
    
    .btns-tools{
        margin-left: 10px;
    }
    
    .dataTables_filter > label{
        margin-top: 5px;
    }
    .dataTables_length > label{
        margin-top: 5px;
    }
    
    .margin-left-15{
         margin-left: 15px;
    }
    
    .bootbox-close-button{
        margin-top: 0 !important;
    }
    
    
    tbody > tr > td.left {
        text-align: left;
    }
    
    tbody > tr > td.right {
        text-align: right;
    }

    .table th{
        background-color: #c1c1c1;
    }
    .pendiente {
        background-color: rgba(255, 235, 59, 0.75);
    }
    .asignado {
        background-color: rgba(255, 152, 0, 0.75);
    }
    .completado {
        background-color: rgba(92, 184, 92, 0.75);
    }
    .cancelado {
        background-color: rgba(217, 83, 79, 0.75);
    }
    .despachado {
        background-color: rgba(91, 192, 222, 0.75);
    }
    
    
    /*
     .pendiente {
        background-color: rgba(255, 87, 34, 0.42);
    }
    .asignado {
        background-color: rgba(246, 224, 30, 0.25);
    }
    .completado {
        background-color: rgba(92, 184, 92, 0.25);
    }
    .cancelado {
        background-color: rgba(217, 83, 79, 0.25);
    }
    .despachado {
        background-color: rgba(91, 192, 222, 0.25);
    }
    
    */
    
    .btn-pending {
        color: #fff;
        background-color: #f6e01e;;
        border-color: #cbba27;
    }
    .btn-pending:hover {
        color: #fff;
        background-color: #e4cf17;
        border-color: #cbba27;
    }
