
    /*abre el menu caundo el puntero pasa por encima*/
    ul.nav li.dropdown:hover > ul.dropdown-menu, 
    ul.nav li.dropdown:active > ul.dropdown-menu,
    ul.nav li.dropdown:focus > ul.dropdown-menu 
    {
        display: block;    
    }
    
    /*menu seleccionado*/
    nav.navbar-default ul.navbar-nav 
    > li.controller-selected 
    > a {
        color: white !important;
        background-color: #f05f40;
    }
    
    /*cuando paso el puntero sobre las opcion del menu desplegado*/
    nav.navbar-default ul.navbar-nav
    > li.dropdown
    > ul.dropdown-menu 
    > li
    > a:hover,
     nav.navbar-default ul.navbar-nav
    > li.dropdown
    > ul.dropdown-menu 
    > li
    > a:active{
        color: white !important;
        background-color: #f05f40;
    }
    
    /*cuando paso el puntero por los menues*/
    nav.navbar-default ul.navbar-nav 
    > li
    > a:hover, 
    nav.navbar-default ul.navbar-nav 
    > li
    > a:active{
        color: white !important;
        background-color: #f05f40;
    }
    
    .navbar-default .navbar-nav
    > .open 
    > a,
    .navbar-default .navbar-nav
    > .open 
    > a:focus,
    .navbar-default .navbar-nav
    > .open 
    > a:hover{
        color: white;
        background-color: #f05f40;
    }
    
    .navbar-default .navbar-nav > li > a {
        color: #555;
    }
    
    
    
    nav.navbar-default ul.navbar-nav 
    > li
    > a{
        /*margin: 0px;*/
        padding: 10px 5px 10px 5px;
    }
    
    .navbar{
        /*min-height: 42px !important;*/
        /*height: 42px !important;*/
        background-color: #d2d2d2; 
    }
    
    /* nav.navbar-default ul.navbar-nav */
    /*> li{*/
    /*   border-left: 1px solid white;*/
    /*}*/
    
    /*span.icon-exit{*/
    /*    width: 50px;*/
    /*}*/
    
    span.icon-exit:hover, span.icon-exit:active{
        color: white !important;
    }
    
    title {
        display: none;
    }
    
    .container-fluid > .navbar-collapse,
    .container-fluid > .navbar-header, 
    .container > .navbar-collapse,
    .container > .navbar-header{
        margin-right: 25px;
    }
    
    #element{
        /*background-color: rgba(255, 255, 255, 0.43) !important;*/
        background-color: #f05f40;
    }
    
    
    body{
        overflow: auto !important ;    
    }

    
    .no-js #loader { display: none;  }
    .js #loader { display: block; position: absolute; left: 100px; top: 0; }
    .se-pre-con {
    	position: fixed;
    	left: 0px;
    	top: 0px;
    	width: 100%;
    	height: 100%;
    	z-index: 9999;
    	background: url(../../img/simple-pre-loader/loader-64x/Preloader_1.gif) center no-repeat #fff;
    }
    
    .confirm-width-sm {
        width: 200px;
        margin: 0 auto;
    }
    
    .confirm-width-md {
        width: 300px;
        margin: 0 auto;
    }
    
    .logo-head-title{
        padding-bottom: 3px;
    }
    
    .multilevelpushmenu_wrapper li{
        padding: 1px !important;
   
    }
    
   
    
   

    
    